/*  */
/* tag */
/* h1{
 color: tomato;
}
#title {
  color: blue;
}
.text {
  color: rebeccapurple;
}

p.text{
  color: aqua;
}

p.special {
  color: green;
}

div p {
  color: red;
} */


html {
  font-size:16px;
}
/* div {
  font-size: 15px;
} */
 .text {
  /* border: 5px red inset; */
  border-style: solid;
  border-color:blue;
  border-radius:5px;
  /* Medidas absolutas */
  /* border-width: 4px; */
  /* border-width: 4cm; */
  /* border-width: 4mm; */
  /* border-width: 4in; */
  /* border-width: 4pt; */
  /* border-width: 4pc; */
  border-width: 2rem;
}
#fondo {
  height: 200px;
  background-color: blue;
  /* background-image: url('/img/coffee.png');
  background-size: auto;
  background-size: cover;
  background-size: contain; */

  /* background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-position: center bottom; */
  background: #f00 url('/img/coffee.png') repeat-y center bottom / 100px 100px;
  /* background-size: 100px 100px; */
}

/* BOx model de css */
.margin {
   /* margin: 15px 2px 25px 30px; top  right bottom left  */
   margin: 5px; /*top  right bottom left*/ 
}
.outline {
  /*BETWEEN MARGIN AND BORDER*/
  outline: 5px solid red;
}
.border{
  border:  rgb(4, 0, 255)  10px solid;
  
} 
.padding {
  padding: 30px 15px 5px;
} 
.content{
  background-color: #f00;
  height:100px; 
  width: 50px; /*No contempla ni el paddin border ni margin por lo cual para identificar el tamano de un elemento hay que sumar el ancho del  padding border marging*/
  /* overflow: visible; */
  /* overflow: hidden; */
  overflow: scroll;

  /* outline:  red 1px solid; */

}
.text2 {
  /* text-align: left; default value */
  /* text-align: center; */
  /* text-align: right; */
  /* text-align: justify; */
  /* text-decoration:none; default */
  /* text-decoration: underline; */
  /* text-decoration: line-through; */
  /* text-decoration: overline; */
  text-shadow:3px 5px 4px blue ;
 /* text-shadow: moveToRight,movoToBottom, blur o difuminado, color; */
 /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-family:cursive; */
}

/* link  the order is important*/
/* Cuando no ha sido visitado aplicar un color*/
a:link {
  color:green;
}
a:visited {
  color: aqua;
}
a:hover {
  color: #f00;
}

a:active {
  color: black;
}

ul {
  background-color: cyan;
  /* list-style: none; */
  list-style: circle;
  /* padding-left: 0; */
  /* list-style-position: inside; */

}

table {
  width: 100%;
/* background-color: #f00; */
/* No espacio entre celdas */
 border-collapse: collapse; 
}
th, td {
  border: 1px  solid #eee;
  padding: 5px;
}

th {
  /* background-color: rgba(5, 5, 5, 0.5); */
  background-color:tomato;
  color: white;
  text-align: left;
}


tr:nth-child(even){

  background-color: #eee;

}

tr:hover {
  background-color: #aaa ;
  cursor:pointer;
}

span{
  display: block;
  /* Ocultar elementos y espacio que contiene */
  /* display: none; */
  /* ocultarlo pero pero mantener su espacio */
  /* visibility: hidden; */
  /* width: 900px; */
  max-width: 900px;
  background-color: #f00;
}
.inline {
  display: inline;
}
#position {
  /* default  */
  /* position:static; */
  /* position: relative; */
  /* position: fixed; */
  /* siempre va a tener una posicion  en referencia al padre mas cercano, sino tiene coje el body.  */
  /* position: absolute; */
  /* position: sticky; */
  /* left: 50px;  
  top: 24px; */
  
}

.left {
  float:left;
  width: 100px;
  
  
}
.right {
  float:right;

}
.container {
   height: 200px;

}
/* se le puede asignar un ancho y alto */
.inline-block {
  /* no se le puede asignar width ni hight */
  /* se usa para menu de navegacion */
  /* display: inline; */
  display: inline-block;
  height: 55px;
  background-color: red;
}

/* como central un elemento no su interior: DEBE SE INDICARSELE SIEMPRE UNA ANCHO MENOR AL 100%*/
.center {
  /* central verticalmente el texto */
   /* 0 horizontal */
  padding: 50px 0;
  text-align: center;
  width: 200px;
  /* margin: 0 para que aparezca centrado verticalmente y auto */
  margin: 0 auto;
  background-color: #aaa;
}

/* 1:47:37  */

https://www.youtube.com/watch?v=wZniZEbPAzk&t=4143s&ab_channel=HolaMundo